body{
    background-color:blue;
}
.calculator_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-size:cover;
}
.calculator_iphone{
    background-color:#281b51;
    border-radius:20px;
    padding:5px;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(0,0,0,0.5);
}

.calculator_input_display{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
	background-color:#000;
	border-radius:20px;
}

.theme-icon{
	background-color:#000;
	border:none;
}

#calculator_input_Number_Previews{
    width: 275px;
    height:100%;
    outline:none;
    background-color:#000;
    border:none;
    color:#fff;
    font-size:20px;
    overflow-y:hidden;
    text-align: right;
    resize:none;
    display:flex;
    flex-direction: row-reverse;
    padding:30px 0px 0px 0px ;
    color:#dbd8d3;
    
}
#calculator_input_Number{
    width: 275px;
    height: 100px;
    outline:none;
    background-color:#000;
    color:#fff;
    border:none;
    font-size: 40px;
    overflow-y: hidden;
    text-align: right;
    resize: none;

}

/**button design ***********/
.calculator_button{
    display: flex;
    flex-direction:row;
}

.calculator_button_left3_Top{
    display: flex;
    flex-direction: row;
	
}

/*** button size all  using multiple classes ****/
.calculator_button_FixedSize_Top,
.calculator_button_Fixedsize_Number,
.calculator_button_FixedSize_bottom,
.calculator_button_FixedSize_Orange{
    width: 60px;
    height: 60px;
    border-radius:60px;
    display:flex;
    align-items:center;
    text-align:center;
    justify-content: center;
    font-size: 25px;
    margin:5px;
    color:#fff;

}



/****color give to button**********/
.calculator_button_FixedSize_Top{
    background-color: #1b1c2c;
	color:white;
}
.calculator_button_Fixedsize_Number{
    background-color: #1b1c2c;
}
.calculator_button_FixedSize_bottom{
    background-color:#1b1c2c;

}
.calculator_button_FixedSize_Orange{
    background-color:#1b1c2c;
    color:#fff;
    font-size: 30px;
}

.calculator_button_left_Number{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 218px;
    color:white;
}
.calculator_button_left3_bottom{
    display: flex;
    flex-direction: row;
    color:white;
}

.calculator_button_Right{
    display: flex;
    flex-direction: column;
}


.dark-mode {
  background-color: black;
  color: white;
  
}